body
{
    background: radial-gradient(red, yellow);
    color: black;
}
h1
{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a:link 
{
    color: darkgreen;
}

a:active 
{
    color: black;
}

a:visited 
{
    color: darkgreen;
}
a:hover, a:focus 
{
    color: red;
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row
{
   padding: 7em;
}
.contact
{
    border: darkred .5em solid;
    text-align: center;
    padding: 5em;
    font-size: 1.5em;
}