@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
body
{
    background: radial-gradient(orange, brown);
    color: black;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1
{
    text-align: center;
    padding-bottom: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p
{
    font-family: 'Comfortaa', cursive;
}
a:link 
{
    color: darkgreen;
    font-family: 'Comfortaa', cursive;
}

a:active 
{
    color: black;
}

a:visited 
{
    color: darkgreen;
}
a:hover, a:focus 
{
    color: darkred !important;
}
.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.row
{
    padding: 7em;
}
.contact
{
    border: darkred .5em solid;
    text-align: center;
    padding: 5em;
    font-size: 1.5em;
}
.normal-text
{
    font-size: 2em;
    text-align: center;
}
.card
{
    background: transparent;
}
.btn
{
    background-color: white !important;

}
.games
{
    border-color: darkred; 
    border-width: .25em; 
    border-style: inset;
    margin: 5em;
    text-align: center;
    background-color: transparent;
}
#order-form
{
    border: darkblue .5em solid;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    font-size: 1.5em;
}